* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 14px;
    color: #333;
}

.content {
    width: 300px;
    padding: 20px;
    background: url(./github.svg) center center no-repeat #fff;
    background-size: contain;
}

.login {}

.row {
    overflow: hidden;
    margin: 20px 0 0 0;
}

.row:first-child {
    margin: 0;
}

.key {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #666;
}

.input {
    outline: none;
    border: solid 1px #ccc;
    float: left;
    width: 158px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.input.error {
    border: solid 1px #c00;
}

.tip {
    position: absolute;
    margin: 6px 0 0 100px;
    color: #c00;
    font-size: 12px;
}

.remember-me {
    position: absolute;
    margin: 26px 0 0 100px;
    font-size: 12px;
}

.remember-me .text {
    opacity: 1;
    transition: all .4s ease-in-out;
}

.remember-me.off .text {
    opacity: .4;
}

.toggle {
    display: inline-block;
    width: 25px;
    height: 16px;
    vertical-align: middle;
    margin: 0 0 0 10px;
    position: relative;
    cursor: pointer;
}

.toggle::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    box-shadow: 0 0 1px #000;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.toggle::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translate(0, -50%);
    transition: all .4s ease-in-out;
}

.toggle.on::after {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    left: 12px;
    background: #009933;
    box-shadow: none;
}

.btn {
    float: left;
    border: solid 1px #009933;
    height: 30px;
    line-height: 30px;
    width: 180px;
    text-align: center;
    color: #fff;
    background: #009933;
}

.btn:hover {
    border: solid 1px #006633;
    background: #006633;
}

.btn.half {
    width: 80px;
}

.btn.half:last-child {
    margin: 0 0 0 20px;
}

.btn.light {
    color: #999;
    background: #fefefe;
    border: solid 1px #ccc;
}

.btn.light:hover {
    background: #eee;
    border: solid 1px #ccc;
}

.btn.disabled {
    opacity: .3;
}

.mt-55 {
    margin-top: 55px;
}

.loading-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading {
    width: 150px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading span {
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    background: lightgreen;
    transform-origin: right bottom;
    animation: load 1s ease infinite;
}

.loading span:last-child {
    margin-right: 0px;
}

@keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(90deg);
    }
}

.loading span:nth-child(1) {
    animation-delay: 0.13s;
}

.loading span:nth-child(2) {
    animation-delay: 0.26s;
}

.loading span:nth-child(3) {
    animation-delay: 0.39s;
}

.loading span:nth-child(4) {
    animation-delay: 0.52s;
}

.loading span:nth-child(5) {
    animation-delay: 0.65s;
}

.success {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.icon-success {
    width: 100%;
    height: 80%;
    background: url(right.svg) center center/100% 100% no-repeat #fff;
}

.success-info {
    width: 100%;
    text-align: center;
}