* {
    margin:0;
    padding:0;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 14px;
    color:#333;
}

#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}

.content {
    width:300px;
    height:200px;
    padding:20px;
}

.login {
    
}

.row {
    overflow: hidden;
    margin:20px 0 0 0;
}

.key {
    float:left;
    width:80px;
    height:30px;
    line-height: 30px;
    color:#666;
}

.input {
    float:left;
    width:160px;
    height:30px;
    line-height: 30px;
    padding:0 10px;
}

.btn {
    height: 30px;
    line-height: 30px;
    width:180px;
    text-align: center;
}